.testimonial {
    .container {
        .slide {
            .left {
                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 5px;
                }
            }
            .right {
                h5 {
                    font-size: 20px;
                    padding-bottom: 16px;
                    font-weight: 400;
                    color: #74767e;
                    span {
                        border-left: 1px solid #c5c6c9;
                        margin-left: 16px;
                        img {
                            display: inline-block;
                            height: 36px;
                            vertical-align: middle;
                            margin-left: 16px;
                        }
                    }
                }
                .quote {
                    em {
                        font-size: 30px;
                        line-height: 44px;
                    }
                }
            }
        }
    }
}
