.left_panel {
    .main_left_content {
        .work_type_link {
            font-size: 14px;
            line-height: 21px;
            a {
                text-decoration: none;
                color: #222335;
            }
            p {
                color: #c5c6c9;
            }
        }
        .work_overview {
            .seller_overview {
                .overview_profile {
                    .overview_top {
                    }
                }
            }
        }
    }
}
