@mixin customBgImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.carousel {
    .hero-background {
        @include customBgImage();
        height: 680px;
        text-align: center;
    }
    .colin-background {
        background-image: url("./../../assets/images/colin-2x.jpg");
    }
    .jenny-background {
        background-image: url("./../../assets/images/jenny-2x.jpg");
    }
    .scarlett-background {
        background-image: url("./../../assets/images/scarlett-2x.jpg");
    }
}
.banner-content {
    max-width: 1440px;
    padding: 32px 32px 64px;
    .content {
        max-width: 650px;
        form {
            .btn_search {
                padding: 13px 26px;
            }
        }
    }
}
