.banner-content {
    max-width: 1440px;
    .content {
        background-image: url("./src/assets/images/Banner-hero.png");
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 16px;
        padding: 0;
        .top_content {
            max-width: 616px;
            h1 {
                font-size: 56px;
            }
            form {
                position: relative;
                height: 60px;
                input {
                    padding-right: 58px;
                    border-radius: 12px;
                }
                .btn_search {
                    height: 48px;
                    width: 48px;
                    position: absolute;
                    top: 6px;
                    right: 6px;
                }
            }
        }

        .trusted_by {
            position: absolute;
            bottom: 0;
            background-color: inherit;
            ul li {
                img {
                    height: 14px;
                    opacity: 0.5;
                }
            }
        }
    }
}
